<!DOCTYPE html>
<link href='//fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>
<link rel="stylesheet" tyle="text/css" href = "css/style.css">
<html>
  <head>


<title>QoGo: Custom Quality Logos at Amazing Prices</title>
</head>
<body id= "index">
  
<a href="/work">Our Work</a> |
  <a href="/result">Contact Us</a> |
<a href="/what">What We Are</a><br><br>
<!--   <a href="/who">Who We Are</a> -->
 <img src="../images/QoGoLoGo2.png"height="400" width="800"> <br><h2> "The Startup for Startups"</h2><h6>Logo & Ad Creators</h6>
  

    


 

         
</style>
  
</form>




</body>
</html>