<!DOCTYPE html>
<link rel="stylesheet" tyle="text/css" href = "css/style.css">
<html>
<head>
<title>Zodiac Sign</title>
</head>
<body>
  <h1> What is your Zodiac sign?</h1>
<form action="/result" method="post"> 
  Enter your birthdate!
  <input type="date" name="bday" max="2015-12-31"><br><br>
<input type="submit"> 
</form>




</body>
</html>