git<!DOCTYPE html>
<link rel="stylesheet" tyle="text/css" href = "css/style.css">
<html>
<head>
  <title>Your zodiac sign is <%="#{zodiac}"%></title>
</head>
<body>
  <h1>Your Zodiac Sign is <%="#{zodiac}"%>! </h1>
  <h3> The dates for this sign are <%="#{date}%></h2>
  <h5><%="#{horoscope}%><h5>

</body>
</html>