<!DOCTYPE html>
<link href='//fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
<link rel="stylesheet" tyle="text/css" href = "css/style.css">
<link href='http://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Cinzel:400,700' rel='stylesheet' type='text/css'>
<html>
<head>
  

<title>Contact</title>
</head>
<body>
<br><br>
    <a id= "email" href="mailto:qogocustoms@gmail.com">Email us at qogocustoms@gmail.com!</a>
  <br><p id= "tiny">click the words to email<p>
 <br><br><br><br><br><br><br><br><br><br><br><br> <h3 id= "emailwhat"> <b>What to Put in Your Email</b></h3>
  <h6 id= "poo"> There are a few things that we need to begin brainstorming logos for you. These include:
  <li>
    <ul>A general idea</ul>
    <ul>A general color palette</ul>
    <ul>Company name</ul>
    <ul>Company purpose</ul>
    
    
  <li> from there we will handle the rest. Once you send us those qualities we have enough to draw up some mcoks. These will be watermarked and once the transaction goes through we will begin on  the final product. Depending on the intricity we will give you an estimate on how long it will take and the price. </h6>
  <h6 id="poo"> To begin brainstorming on an ad we need:
    <li>
    <ul>A general idea</ul>
    <ul>A general color palette</ul>
    <ul>Company name</ul>
    <ul>Company purpose</ul>
    <ul>What you are advertising<ul>
    <ul> Any slogan you would like to include</ul>
   </li>
        With this information we will send you a mock up of the ad, with a watermark. Once the price is agreed apon we will begin the final product.</h6>
      
    
    
  
<br> 
<footer>
  <a id="goback" href="/">Click to Return to Homepage</a>
   </footer>
 </body>
</body>
</html>