<!DOCTYPE html>
<link href='//fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Cinzel:400,700' rel='stylesheet' type='text/css'>
<html>
 <head>
   <link rel="stylesheet" tyle="text/css" href = "css/style.css">
  <title>What is QoGo</title>
 </head>
 <body>
      <h2 id="what"><b>What is QoGo?</b></h2>
   <h5> <strong> Qogo </strong> is a custom logo and ad creation service. Just shoot us an email with specifications of what you would like and we will get back to you with a price quote and begining idea. All the logos are drawn digitally and completely unique. The logos are not computer generated but created by a digital artist. Prices begin at 150USD and are suceptable to change depending on the intricity of the logo. If you are unstatisfyed you will get all your money back.  <h5>
     <h2 id="what"><b>Why Use QoGo</b>
       <h5> What makes QoGo unique is that we dont just use some algorithm to generate a generic logo for you. When you submit your idea an artist reviews your thoughts and begins on a logo that is wholly unique to you and a piece of art. If you dont like the artist's creation just say something and we will be happy to draft another one for you. Still unsatisfyed and want to try another logo service? We will give you your money back. No one else does what we do for cheaper and at better quality</h5>
  
  <footer>
  <a id="goback" href="/">Click to Return to Homepage</a>
   </footer>
 </body>
    </body>
</html>