<!DOCTYPE html>
<link href='//fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Cinzel:400,700' rel='stylesheet' type='text/css'>
<html>
 <head>
   <link rel="stylesheet" tyle="text/css" href = "css/style.css">
  <title>Our Work</title>
 </head>
 <body>
   <h3 id="prev">Previous Work</h3>
   
   
   <section id="example1">
<h3>Faceless Fashionista</h3>
     <img src="../images/ff.png"height="300">
     <h6 id="descript"> A logo created for the faceless fashion blogger.</h6>
     <p>July 2015</p>

</section>
     <section id="example2">
<h3>Our QoGo Logo</h3>
       <img src="../images/QoGoLoGoblack.png"height="300">
<h6 id="descript">Of course our logo was created by our designers!</h6>
       <p> July 2015</p>

</section>
<!--  <section id="example3">
<h3>Our QoGo Logo</h3>
       <img src="../images/QoGoLoGoblack.png"height="300">
<h6 id="descript">Of course our logo was created by our designers!</h6>
       <p> July 2015</p> -->
<!-- 
</section> -->
   <footer>
  <a id="goback" href="/">Click to Return to Homepage</a>
   </footer>
 </body>
</html>