
h1{
  font-family:Arial;
 color: white;
  font-size: 200px;
  
}
h3{
  font-family: 'Cinzel', serif;
  color: black;
  text-align: center;
  font-size: 24px;
}
#what{
 font-size: 50px;
  color: black;
  font-family: 'Cinzel', serif;
}
h2{ 
  font-size: 45px;
font-family: 'Cinzel', serif;
      color:white;
  
  
}
form{
  font-size: 50px;
    font-family:Arial;
  color: black;
}
body{
  font-family:arial;
  color:black;
  text-align: center;
  font-size:35px;
  font-family: Lucida Sans Unicode;
}
#goback{
  color: black;
}
#index{
   background-image: url("../images/index_background2.gif");
  background-repeat: no-repeat;
   background-position: center;
  color: white;
  
}
a{
  color:white;
  text-decoration:none;
  font-family:arial;
  font-size:20px;
  font-family: 'Cinzel', serif;
}
#email{
   font-size: 110px;
  color:black;
  font-family: arial;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  color:black;
}

li {
    display: inline;
  color:black
  
}
#goback{
  color:black;
  font-family: 'Cinzel', serif;
}
#example1 {
    width:400px;
    float:left;
    padding:10px; 
}
#example2 {
    width:400px;
    float:right;
    padding:10px; 
}
#example3 {
    width:400px;
    float:right;
    padding:10px; 
}
p {
  font-size: 12px;
  font-family: 'Cinzel', serif
}
h6{
  font-size: 20px;
  font-family: 'Cinzel', serif
}
#prev{
  font-size: 30px;
}
footer{ 
       position: fixed;     
       text-align: center;    
       bottom: 0px; 
       width: 100%;
}
#emailwhat{
  font-size: 40px;
}
#tiny{
  font-size: 12px;
}
#poo{
  font-family: Lucida Sans Unicode;
  text-decoration:none;
  font-size: 30;
}
#descript{
  font-family: Lucida Sans Unicode;
}
h5{
  font-size: 24px;
   font-family: Lucida Sans Unicode;
}